<configuration name="ConfigTest" status="ERROR"
	monitorInterval="5">

	<Properties>
		<Property name="filename">logs/log.log</Property>
		<Property name="basePatterLayout">%d{ISO8601} [%-5p] (%F:%L) - %m%n</Property>
	</Properties>


	<appenders>
		<console name="out" target="SYSTEM_OUT">
			<patternLayout
				pattern="${basePatterLayout}" />
		</console>
	</appenders>

	<loggers>
		<logger name="edu.examples.log4j2examples" level="info">
			<appender-ref ref="out" />
		</logger>


<!-- 		<root level="info">
			<appenderRef ref="out" />
		</root> -->
	</loggers>

</configuration>